@import "tailwindcss";

h2 {
    color: red;
}

@theme {
  /* Cambiamos 'brand' por 'pet' para que coincida con tu HTML */
  --color-pet-orange: #f97316;
  --color-pet-blue: #3b82f6;
  --font-sans: "Nunito", sans-serif;
}